body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    
  }
.container{
    max-width: 350px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(94, 94, 207);
    color: white;
    
}
.container:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
.profile-image{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: 1px solid black;
    margin-bottom: 5%;
}
.profile-name{
    font-size: 35px;
    margin: 0;
    
}
.profile-title{
    font-size: 20px;
    color: rgb(214, 209, 209);
}
.profile-description{
    margin: 15px 0;
    text-align: justify;
}
.profile-button{
    background-color: rgb(7, 7, 75);
    color: white;
    border: 0.5px solid white;
}
.profile-button:hover{
    background-color: rgb(11, 11, 119);
}